{% extends "base.html.twig" %}

{% block title %}Otázka neexistuje{% endblock %}

{% block body %}
    <div class="container card">
        <div class="card-header">
            {{ block("title") }}
        </div>
        <div class="card-body text-center">

            Tato otázka neexistuje.

        </div>
    </div>
{% endblock %}