{% extends "base.html.twig" %}

{% block title %}Přístup odepřen{% endblock %}

{% block body %}

    <div class="row">
        <div class="col text-center">
            <h1>{{ block("title") }}</h1>
        </div>
    </div>

{% endblock %}