{% extends "base.html.twig" %}

{% block title %}Test{% endblock %}

{% block body %}
    <div class="container card">
        <div class="card-header">
            {{ block("title") }}
        </div>
        <div class="card-body">

            {{ include("test/formular.html.twig", { aktivni: true }) }}
           
        </div>
    </div>
{% endblock %}